body {
    background-color: rgb(10, 29, 46);
}

h1 {
    color: aliceblue;
    text-align: center;
}

.principal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    align-content: center;
    margin: auto;
    max-width: 500px;
}

.video-box {
    position: relative;
    width: 70%;
    max-width: 800px;
    margin: 40px auto;
    aspect-ratio: 16 / 9;
}

.video-box iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.conteudo {
    font-size: 22px;
    text-align: center;
    margin: 30px;
}

.conteudo a {
    color: aliceblue;
    text-decoration: none;
}

.conteudo a:hover {
    color: rgb(0, 255, 255);
    text-decoration: underline;
}

.back {
    text-align: center;

}